@media screen and (max-width: 480px){

    .container-title {
        padding: 0 25px;
    }

    /*************** Main ***************/
    .section-main {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .left-section-main {
        width: 100%;
        height: 60vh;
        align-items: center;
        padding: 25px 25px;
        text-align: center;
    }
    .right-section-main {
        width: 100%;
        height: 40vh;
    }

    /*************** Spotlight ***************/
    .box-spotlight {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .img-spotlight {
        width: 100%;
        height: 50vh;
    }
    .text-spotlight {
        width: 100%;
        height: 50vh;
        padding: 0 25px;
        align-items: center;
        text-align: center;
    }

    /*************** Slides ***************//**/
    .container-slidess{
        width: 100%;
        height: 30vh;
    }
    .autoplay{
        width: 80%;
        height: 100%;
    }
    .slick-prev:before, 
    .slick-next:before {
        color: #000000;
    }

    /*************** Items ***************/
    .box-item {
        width: 80%;
        height: 40vh;
        padding: 0;
    }
    .box-item i {
        font-size: 35px;
    }
    .box-item h3 {
        font-size: 20px;
    }
    .box-item p {
        font-size: 16px;
        line-height: 25px;
    }
    .border-responsive{
        border-bottom: thin solid #CFCFCF;
        border-right: none;
    }

    /*************** Contact ***************/
    .container-contact {
        padding: 20px 0;
    }
    .box-form-contact{
        width: 100%;
        height: 60vh;
    }
    .form-group label{
        font-size: 15px;
    }
    
    /*************** Footer ***************/
    .container-footer i{
        margin: 0;
        font-size: 18px;
    }
    .container-footer h6{
        font-size: 14px;
    }
}


/**********  Medium **********/
@media screen and (min-width: 480px) and (max-width: 800px){
    .paragraph {
        font-size: 18px;
        line-height: 28px !important;
    }
    .buttons {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        padding: 12px 22px;

    }

    /*************** Main ***************/
    .section-main {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .left-section-main {
        width: 100%;
        height: 50vh;
        align-items: center;
        padding: 0 50px 30px 50px;
        text-align: center;
    }
    .right-section-main {
        width: 100%;
        height: 50vh;
    }

    /*************** Spotlight ***************/
    .box-spotlight {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .img-spotlight {
        width: 100%;
        height: 40vh;
    }
    .text-spotlight {
        width: 100%;
        height: 35vh;
        padding: 0 25px;
        align-items: center;
        text-align: center;
    }

    /*************** Slides ***************//**/
    .container-slidess{
        width: 100%;
        height: 30vh;
    }
    .autoplay{
        width: 80%;
        height: 100%;
    }
    .slick-prev:before, 
    .slick-next:before {
        color: #000000;
    }




    /*************** Items ***************/
    .box-item {
        width: 45%;
        height: auto;
        padding: 40px 0;
    }
    .box-item i {
        font-size: 35px;
    }
    .box-item h3 {
        font-size: 20px;
    }
    .box-item p {
        font-size: 16px;
        line-height: 25px;
    }
    .border-responsive{
        border-bottom: thin solid #CFCFCF;
        border-right: none;
    }

    /*************** Contact ***************/
    .container-contact {
        padding: 20px 0;
    }
    .box-form-contact{
        width: 100%;
        height: 40vh;
    }
    .form-group label{
        font-size: 17px;
    }
    .form-contact .form-control{
        height: 45px;
    }
    #exampleFormControlTextarea1{
        height: 100px !important;
    }
    
    /*************** Footer ***************/
    .container-footer i{
        margin: 0;
        font-size: 22px;
    }
    .container-footer h6{
        font-size: 20px;
    }

}
